<section role="contentinfo">
  <footer>
    <div id="footer-content">
      <p id="copyright">Seattle Scene Site. Copyright &copy; 2017</p>
    </div>
    <ul id="connet">
      <li><a class="footer_menu" href="about">About</a></li>
      <li><a class="footer_menu" href="about">Contact Us</a></li>
      <li><a class="footer_menu" href="about">Join Us</a></li>
    </ul>
  </footer>
</section>
