<div id="mySideNav" class="sidenav"></div>
  <nav role="navigation">
    <header>
      <div class="top-side-bar">
        <a class="logo" href="layout.ejs">
      </div>
    <div class="second-side-bar">
      <nav>
        <ul role="menubar">
          <li><a role="menuitem" href="/">Home</a></li>
          <li><a role="menuitem" href="about">About</a></li>
          <li><a role="menuitem" href="#">Work</a></li>
          <li><a role="menuitem" href="#">Career</a></li>
          <li><a role="menuitem" href="contact">Contact</a></li>
        </ul>
      </nav>
    </header>
  </div>
</section>
