<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Seattle Scene</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if IE]><link rel="shortcut icon" href="path/to/favicon.ico"><![endif]-->
    <!-- <link rel="icon" href="favicon.ico"> -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="css/main.css">

</head>
<body class="page page--home">
<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

  <!-- MAIN CONTENT HERE -->
  <%- defineContent('hero') %>
  <% include ./partials/nav %>

  <div class=wrapper>
    <main role="main">
      <div class="container">
        <%- body %>
      </div>
    </main>

    <footer>
      Seattle Scene Site. Copyright &copy; 2017
    </footer>
  </div>

</body>
</html>
