
.site-sidebar {
  position: fixed;
  display: block;
  line-height: 3;
  background-color: #080808;
  text-decoration: none;
  letter-spacing: 0.11em;
  // font-weight: 200!important;
  font-family: din-light,sans-serif;
  font-family: 'bgMed',sans-serif;
  // font-family: "Helvetica Neue",helvetica,sans-serif;
  text-transform: uppercase;
  -webkit-transition: all .15s;
  transition: all .15s;
  width: 15%;
  // background-color: #676767;
  opacity: 0.5;
  height: 100%;
  top: 0px;
  z-index: 15;
  nav ul {
    margin: 0;
    border-bottom: 1px solid #272727;
  }
}
  nav ul li {
    margin: 0px;
    border-top: 1px solid #272727;
    a {
      font-size: 14px;
      color: #fff;
      padding: 0px 5.8em 0px;

    }
  }


// // SEARCH BAR BOOTSTRAP
// .custom-search-form {
//     margin:0;
//     margin-top: 65px;
//     padding: 0;
//     position: absolute;
//     bottom: 341px;
//     left: 47px;
//     z-index: 3;
// }
//
// .search-query:focus + button {
//     z-index: 3;
// }
