// Spacing
$space: 25px;
$space--small: 10px;
$space--xsmall: 5px;

// Colors
$color__primary: #7b9db8; // light blue
$color__secondary: #175b93; // dark blue
$color__contrast: #fffad9; // light yellow

// Fonts
$font__weight--regular: 400;
$font__weight--bold: 700;
$font__weight--black: 900;
