<%-contentFor('hero') %>
<section class="hero">
  <div class="inner_hero">
    <div>
      <h1>Seattle <span>Scene</span><h1>
    </div>
    <div>
      <img class="hero_img" src="http://www.twitrcover.com/wp-content/uploads/2015/10/skyline-buildings-new-york-skyscrapers.jpg"/>
    </div>
  </div>
</section>
<section class="featured content-panel">
  <div class="container_img">
    <img class="featured_img"src="https://images.pexels.com/photos/195467/pexels-photo-195467.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb">
  </div>
</section
