<%-contentFor('hero') %>
<section class="hero">
  <div class="hero-content">
    <h2>Welcome to Seattle Scene<h2>
    <p>Be in the know</p>
  </div>
</section>


<div class="container">
  Home Page
</div>
